<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>

<h2>Add User</h2>

<form action="/users" method="POST">
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="email" name="email" placeholder="Enter email" required>
    <button type="submit">Add User</button>
</form>

<hr>

<h2>Users Table</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <% users.forEach(user => { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
    <% }) %>

</table>

</body>
</html>